@media(max-width: 575px) {
	h1 {
		padding: 0 10px;
	}

	h2 {
		font-size: 40px;
		padding: 0 10px;
	}

	h3 {
		padding: 0 10px;
	}

	p {
		padding: 0 10px;
	}

	.main {
		margin-left: auto;
		margin-right: 0px;
	}

	.menu {
		position: static;
		height: 100%;
		max-width: 100%;
	}

	#showcase img {
		width: 100%;
		opacity: 0.7;
		margin: 0px;
	}

	.member {
		width: 100%;
		margin: 0px;
	}

	.member img {
		width: 100%;
		margin: 0px;
	}

	.tariff {
		width: 100%;
		min-width: 0px;
		margin: 0px;
		box-sizing: border-box;
		padding-left: 5px;
		padding-right: 5px;
	}

	.tariffs {
		width: 100%;
	}

	form {
		padding-right: 5px;
		padding-left: 5px;
		width: 100%;
		box-sizing: border-box;
	}
}

